/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/games/gam-4/gam308.cur), auto !important;} /* End https://www.cursors-4u.com */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

.container {
  /*max-width: 800px;*/
  margin: 40px auto;
  padding: 0 20px;
  /*display: flex;*/
  text-align: center;
  justify-content: center;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
  max-width: 800px;
}

canvas {
  background-color: #e9ecef;
  border-radius: 10px;
  margin: 20px 0;
}

input[type="time"] {
  padding: 10px;
  margin-top: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#leftTimeText {
  margin-top: 20px;
  font-size: 1.4rem;
  /*color: #007bff;*/
  font-weight: bold;
  animation-duration: 3s;
  animation-name: rainbowLink;
  animation-iteration-count: infinite;
}

@keyframes rainbowLink {
  0% {
    color: #ff2a2a;
  }

  15% {
    color: #ff7a2a;
  }

  30% {
    color: #ffc52a;
  }

  45% {
    color: #43ff2a;
  }

  60% {
    color: #2a89ff;
  }

  75% {
    color: #202082;
  }

  90% {
    color: #6b2aff;
  }

  100% {
    color: #e82aff;
  }
}
