.default       { cursor: url('/resource/cursor/일반 선택.cur'), default; }
    .pointer       { cursor: url('/resource/cursor/연결선택.ani'), pointer; }
    .text          { cursor: url('/resource/cursor/텍스트 선택.cur'), text; }
    /*.move          { cursor: url('/resource/cursor/이동.ani'), move; }*/
    .wait          { cursor: url('/resource/cursor/백그라운드 작업.ani'), wait; }
    .help          { cursor: url('/resource/cursor/도움말 선택.ani'), help; }
    .not-allowed   { cursor: url('/resource/cursor/사용할 수 없음.ani'), not-allowed; }
    .progress      { cursor: url('/resource/cursor/사용중.ani'), progress; }
    .grab          { cursor: url('/resource/cursor/이동.ani'), grab; }
    .grabbing      { cursor: url('/resource/cursor/이동.ani'), grabbing; }

    .ew-resize     { cursor: url('/resource/cursor/수평 크기 조절.ani'), ew-resize; }
    .ns-resize     { cursor: url('/resource/cursor/수직 크기 조절.ani'), ns-resize; }
    .nwse-resize   { cursor: url('/resource/cursor/대각선 방향 크기 조절1.ani'), nwse-resize; }
    .nesw-resize   { cursor: url('/resource/cursor/대각선 방향 크기 조절2.ani'), nesw-resize; }

    .canvas-tool   { cursor: url('/resource/cursor/필기.cur'), auto; }

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

.container {
  margin: 40px auto;
  padding: 0 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
  width: 800px;
}

canvas {
  background-color: #e9ecef;
  border-radius: 10px;
  margin: 20px 0;
}

input[type="time"] {
  padding: 10px;
  margin-top: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#leftTimeText {
  margin-top: 20px;
  font-size: 1.4rem;
  /*color: #007bff;*/
  font-weight: bold;
  animation-duration: 3s;
  animation-name: rainbowLink;
  animation-iteration-count: infinite;
}

@keyframes rainbowLink {
  0% {
    color: #ff2a2a;
  }

  15% {
    color: #ff7a2a;
  }

  30% {
    color: #ffc52a;
  }

  45% {
    color: #43ff2a;
  }

  60% {
    color: #2a89ff;
  }

  75% {
    color: #202082;
  }

  90% {
    color: #6b2aff;
  }

  100% {
    color: #e82aff;
  }
}

@keyframes vibrate {
      0% { transform: scale(1); }
      25% { transform: scale(1.1); }
      50% { transform: scale(0.95); }
      75% { transform: scale(1.05); }
      100% { transform: scale(1); }
    }
