:root {
    --card-size: 5;
}

body {
    width: 100%;
    background-color: #f0f0f0;
}

.header {
    width: 100%;
    display: flex;
    height: 20px;
}

.header-left {
    font-weight: bold;
    margin-left: 80px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 85%;
    gap: 10px;
}

.nationSelect {
    width: 60px;
}

.remarksSelect {
    width: 130px;
}

.main-container {
    display: flex;
}

.category {
    align-items: center;
    padding: 30px;
}

.card-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
    align-content: flex-start;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: calc(100% / var(--card-size) - 40px);
    aspect-ratio: 1 / 1;
    transform: perspective(350px) rotateY(0deg) rotateX(0deg);
    justify-content: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(105deg,
            transparent 40%,
            rgba(255, 219, 112, 0.8) 45%,
            rgba(132, 50, 255, 0.6) 50%,
            transparent 54%);
    filter: brightness(1.1) opacity(0.8);
    mix-blend-mode: color-dodge;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.1s;
    z-index: 100;
}

.img-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.long-img {
    height: 90%;
}

.tail-img {
    width: 90%;
}

.monochrome {
    filter: grayscale(100%);
}

.name-container {
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: center;
    word-break: keep-all;
    container-type: size;
}

.name {
    font-size: 10cqw;
}

.unopened {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}